<nav>
  <div class="nav-center">
    <div class="nav-header">
      <a [routerLink]="['/homeLink']"><img class="nav-logo" src="../assets/LoanBuddy1.JPG" alt=""></a>
      <!-- <a class="nav-logo" href="">LoanBuddy</a> -->
      <fa-icon class="toggle-btn" [icon]="['fas','bars']"></fa-icon>
  </div>
  <ul class="pages">
    <li class="page">
      <a [routerLink]="['/homeLink']">home</a>
    </li>
    <li class="page">
      <a [routerLink]="['/aboutLink']">about</a>
    </li>
    <!-- <li class="page">
      <a [routerLink]="['/calculatorLink']">calculator</a>
    </li> -->
    <li class="page">
      <a [routerLink]="['/calculatorLink']">services</a>
    </li>
    <!-- <li class="page">
      <a [routerLink]="['/howLink']">guide</a>
    </li> -->
    <li class="page">
      <a [routerLink]="['/registerLink']">apply</a>
    </li>
  </ul>
  <ul class="last-page">
    
    <li class="page">
        <a id="login" [routerLink]="['/loginLink']">login</a>
      </li>
  </ul>
  </div>
</nav>