
<app-homenav></app-homenav>
<header class="about-header">
    <h2>
    Home Sweet Home becomes more <span>Sweeter</span> with our Loan.
</h2>
    <div class="about-img">
    </div>
</header>
<div class=" section">
  <h2 class="section-heading">&nbsp;our experience&nbsp;</h2>
  <div class="section-center">
    <div class="experiences">
        <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>Established in 1991.</p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>Third largest private sector Housing Loan enterprises in India. </p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>A large footprint of 6,459 domestic branches with 10,990 ATMs & 5,972 cash recyclers.</p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>Eight international offices for Overseas operations of the Company.</p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>Undertaken several consultancy assignments in various part of the globe.</p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>9 million cumulative housing unit financed</p>
    </div>
    <div class="experience">
        <fa-icon [icon]="['fas','star']"></fa-icon>&nbsp;<p>Award for Best innovation in Housing Loan in India.</p>
    </div>
    </div>
  </div>
</div>
<div class="values-section section">
    <h2 class="section-heading">&nbsp;our values&nbsp;</h2>
    <div class="section-center">
        <div class="values">
            <div class="value-container">
            <p>innovation</p>
            <img src="../../assets/innovation.png" alt="">
        </div>
        <div class="value-container">
            <p>transparency</p>
            <img src="../../assets/transparency.png" alt="">
        </div>
        <div class="value-container">
            <p>trust</p>
            <img src="../../assets/trust.png" alt="">
        </div>
        <div class="value-container">
            <p>service</p>
            <img src="../../assets/customer-service.png" alt="">
        </div>
        </div>
    </div>
</div>

<!-- <div class="section">
  <h2 class="section-heading">&nbsp;features/benefits&nbsp;</h2>
  <div class="section-center">
    
  </div>
</div> -->
<div class="section">
  <h2 class="section-heading">&nbsp;FAQs&nbsp;</h2>
  <div class="section-center">
    <div class="faq">
        <div (click)="onClick1()" class="faq-link">
            <p>How do Home Loans work?</p>
            <div class="plus-minus">
    <fa-icon [class.showFaq]="!hide1" [class.hideFaq]="hide1" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide1" [class.hideFaq]="!hide1" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide1" [class.hideFaq]="!hide1">Home loans help you with a lump-sum advance of funds towards buying your desired property, this amount will be repayable with interest. However you can re-pay the amount advanced via EMIs (Equated Monthly Installments), thus enabling you to approach realizing your home dream in a convenient and structured way.
</p>
    </div>
    <div class="faq">
        <div (click)="onClick2()" class="faq-link">
            <p>How can I get an estimate of the loan amount?</p>
<div class="plus-minus">
    <fa-icon [class.showFaq]="!hide2" [class.hideFaq]="hide2" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide2" [class.hideFaq]="!hide2" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide2" [class.hideFaq]="!hide2">The simplest way to calculate the home loan eligibility and the home loan EMI is to make use of the Calculator available on our portal. It is a free online tool that allows you to plan the home loan in an efficient and clearer manner.</p>
    </div>
    <div class="faq">
        <div (click)="onClick3()" class="faq-link">
            <p>Can I get a home loan for the entire amount?</p>
<div class="plus-minus">
    <fa-icon [class.showFaq]="!hide3" [class.hideFaq]="hide3" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide3" [class.hideFaq]="!hide3" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide3" [class.hideFaq]="!hide3">
No. Under the guidelines of the RBI, a lender cannot lend 100% of the home loan. Depending on the lender you have opted for, you may be able to take a home loan for about 80% to 90% of the purchase price of the property. You would, however, have to make a down payment of the remaining amount on your own.
        </p>
    </div>
    <div class="faq">
        <div (click)="onClick4()" class="faq-link">
            <p>How to calculate home loan emi?</p>
<div class="plus-minus">
    <fa-icon [class.showFaq]="!hide4" [class.hideFaq]="hide4" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide4" [class.hideFaq]="!hide4" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide4" [class.hideFaq]="!hide4">
The home loan EMI is calculated using the below given formula

Home Loan EMI = P x ROI x (1+ROI)^N / [(1+ROI)^N-1]

An easier way to calculate the EMI is to use the calculator available on bank’s website –Home Loan EMI Calculator</p>
    </div>
    <div class="faq">
        <div (click)="onClick5()" class="faq-link">
            <p>
                Can I take 2 home loans at the same time?

            </p>
<div class="plus-minus">
    <fa-icon [class.showFaq]="!hide5" [class.hideFaq]="hide5" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide5" [class.hideFaq]="!hide5" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide5" [class.hideFaq]="!hide5">
Yes, you can take 2 home loans at the same time provided that your lender approves your eligibility to manage 2 Equated Monthly Instalments (EMIs) at the same time. However, the tax benefits on the second house will be different and you will be required to establish the property as self-occupied or let-out property.
        </p>
    </div>
    <div class="faq">
        <div (click)="onClick6()" class="faq-link">
            <p>
                How long it takes to get home loan sanctioned?

            </p>
<div class="plus-minus">
    <fa-icon [class.showFaq]="!hide6" [class.hideFaq]="hide6" [icon]="['fas','plus']"></fa-icon>
    <fa-icon [class.showFaq]="hide6" [class.hideFaq]="!hide6" [icon]="['fas','minus']"></fa-icon>
</div>
        </div>
        <p [class.showFaq]="hide6" [class.hideFaq]="!hide6">

Usually, it takes 3 to 4 weeks to get home loan sanctioned. However, you need to keep a few factors in mind for a better understanding. First of all, you need a pre-approval of your home loan from the concerned lender to get your loan sanctioned. However, pre-approval doesn’t always mean that your loan will be disbursed immediately and depends on certain external as well internal factors. 
        </p>
    </div>
    
  </div>
</div>