<header class="about-header">
    <h2>
    Home Sweet Home becomes more <span>Sweeter</span> with our Loan.
</h2>
    <div class="about-img">
    </div>
</header>
<div class="section">
    <h2 class="section-heading">&nbsp;our values&nbsp;</h2>
    <div class="section-center">
        <div class="values">
            <div class="value-container">
            <p>innovation</p>
            <img src="../../assets/innovation.png" alt="">
        </div>
        <div class="value-container">
            <p>transparency</p>
            <img src="../../assets/transparency.png" alt="">
        </div>
        <div class="value-container">
            <p>trust</p>
            <img src="../../assets/trust.png" alt="">
        </div>
        <div class="value-container">
            <p>service</p>
            <img src="../../assets/customer-service.png" alt="">
        </div>
        </div>
    </div>
</div>