<!-- <div class="section">
  <div class="section-center">
    <h1 class="section-head">calculator</h1>
    <div class="cards">
      <form class="card calc-card">
        <h3 class="card-head">eligibility</h3>
        <div class="inputs">
          <div class="input">
            <label for="income">monthly income</label>
            <input
              type="text"
              class="box"
              placeholder="monthly income"
              id="income"
            />
          </div>
          <div class="input">
            <label for="roi">rate of interest</label>
            <input
              type="text"
              class="box"
              placeholder="rate of interest"
              id="roi"
            />
          </div>
        </div>

        <button class="btn">calculate</button>
      </form>
      <form class="card calc-card">
        <h3 class="card-head">EMI</h3>
        <div class="inputs">
          <div class="input">
            <label for="loan">loan</label>
            <input type="text" class="box" placeholder="loan" id="loan" />
          </div>
          <div class="input">
            <label for="roi">rate of interest</label>
            <input
              type="text"
              class="box"
              placeholder="rate of interest"
              id="roi"
            />
          </div>
          <div class="input">
            <label for="tenure">tenure</label>
            <input type="text" class="box" placeholder="tenure" id="tenure" />
          </div>
        </div>
        <button class="btn">calculate</button>
      </form>
    </div>
  </div>
</div> -->
<div class="section header-span">
  <h2 class="section-heading">&nbsp;eligibility/EMI&nbsp;</h2>
  <div class="section-center calculator-section">
    <div class="card calc-card">
      <div class="tabs">
        <button [ngClass]="selected1" (click)="onClick1()" class="tab tab1">
          eligibility
        </button>
        <button [ngClass]="selected2" (click)="onClick2()" class="tab tab2">
          EMI
        </button>
      </div>
      <form
        [formGroup]="formdata"
        [ngClass]="visible1"
        (ngSubmit)="onSubmitEligibility(formdata.value)"
        class="calc"
      >
        <!-- <div class="inputs"> -->
        <div class="input input-top">
          <label for="income">monthly income</label>
          <input
            type="text"
            class="box"
            placeholder="monthly income"
            id="income"
            name="income"
            formControlName="income"
          />
        </div>
        <div class="input input-bottom">
          <label for="roi">rate of interest</label>
          <input
            type="text"
            class="box"
            placeholder="rate of interest"
            id="roi"
            name="roi"
            formControlName="roi"
          />
        </div>
        <!-- </div> -->

        <input type="submit" class="btn card-btn" value="calculate" />
      </form>
      <form
        [formGroup]="formdata1"
        [ngClass]="visible2"
        (ngSubmit)="onSubmitEmi(formdata1.value)"
        class="calc"
      >
        <!-- <div class="inputs"> -->
        <div class="input input-top">
          <label for="loan">loan</label>
          <input
            type="text"
            class="box"
            placeholder="loan"
            formControlName="loan"
            id="loan"
          />
        </div>
        <div class="input">
          <label for="roi">rate of interest</label>
          <input
            type="text"
            class="box"
            placeholder="rate of interest"
            id="roi"
            formControlName="roi1"
          />
        </div>
        <div class="input input-bottom">
          <label for="tenure">tenure</label>
          <input
            type="text"
            class="box"
            placeholder="tenure"
            formControlName="tenure"
            id="tenure"
          />
        </div>

        <!-- </div> -->
        <button class="btn card-btn">calculate</button>
      </form>
    </div>
    <div class="description calc-description">
      <div class="description-output">
        <p>
        Need to know the maximum loan you are eligible for? Check out LoanBuddy's Eligibility calculator.
       Interested in availing a home loan, but unsure of the EMIs that you need to pay? Don’t worry, the home loan EMI calculator from LoanBuddy is just what you need. Using our online calculator, input the loan amount, the rate of interest and the loan tenure. The calculator will then display the EMI amount you will need to pay each month. It’s that simple!</p>
        <span class="terms">** These calculators are provided only as general self-help Planning Tools. 
Results depend on many factors, including the assumptions you provide. We 
do not guarantee their accuracy, or applicability to your circumstances.</span>
      </div>
      <div class="percentage">
        
      </div>
      
    </div>
  </div>
</div>
<div class="apply-section section">
  <h2 class="section-heading">&nbsp;apply home loan&nbsp;</h2>
  <div class="section-center">
    <p>Get Instant Home Loan EMI Quotes and apply for a home loan with LoanBuddy at a fixed interest rate of 8% p.a. We offer a longer home loan tenure up to 30 years with small EMIs starting ₹703* per lakh. Get home loan sanction in just 5 days. Our affordable housing loan is tailor made for salaried and self-employed individuals. You can also transfer your outstanding housing loan to LoanBuddy. Non Resident Indian (NRIs) can also avail digital sanction of their home loan through this platform. LoanBuddy offers you online home loans that you can avail to buy, construct, or renovate your house. Our easy home loan application process, hassle-free documentation requirements and customised repayment options ensure that you make your dream home a reality. Apply online with LoanBuddy to meet your housing finance needs.</p>
    <button class="btn">apply now</button>
  </div>
</div>
<div class="track-section section">
  <h2 class="section-heading">&nbsp;track your loan&nbsp;</h2>
  <div class="section-center">
    <p>Home Loan’s tracking feature, Track My Loan is an online Home Loan Tracker that showcases your Home Loan journey and notifies you of your Home Loan application status from the login to the sanction stage. You can check the status of your Home Loan application by entering your loan application and mobile number. This can be done using your desktop or mobile.</p>
    <button class="btn">apply now</button>
  </div>
</div>
