<div class="section header-span">
  <h2 class="section-heading">&nbsp;login&nbsp;</h2>
      <div class="section-center">
        <!-- <div class="cards"> -->
          <form class="card login-card">
            <h3 class="">customer</h3>
            <div class="login-inputs">
                <div class="login-input login-input-top">
              <label for="email">email id</label>
              <input
                type="email"
                class="box"
                placeholder="email id"
                id="email"
              />
              </div>
            <div class="login-input login-input-bottom">
              <label for="password">password</label>
              <input
                type="password"
                class="box"
                placeholder="password"
                id="password"
              />
              </div>
            </div>
            
            <button class="btn card-btn">login</button>
          </form>