
  <div [class.showLoading]="showLoading" class="loading"><h3>loading...</h3></div>
<div class="section header-span">
      <h2 class="section-heading">&nbsp;login&nbsp;</h2>
      <div class="section-center">
        <!-- <div class="cards"> -->
          <form #loginForm="ngForm" (ngSubmit)="checkLogin()" class="card login-card">
            <div class="login-inputs">
                <div class="login-input login-input-top">
              <label for="user">user id</label>
              <input
                type="text"
                class="box"
                placeholder="user id"
                id="user"
                name="userId"
                [(ngModel)]="login.customerId"
              />
              </div>
            <div class="login-input login-input-bottom">
              <label for="password">password</label>
              <input
                type="password"
                class="box"
                placeholder="password"
                id="password"
                name="password"
                [(ngModel)]="login.customerPassword"
              />
              </div>
            </div>
            
            <button type="submit" class="btn card-btn">login</button>
          </form>
          New customer? <a [routerLink]="['/registerLink']">Register</a><br>
          <p style="color: red;">{{message}}</p>
      </div>
      </div>
