<div class="section">
      <div class="section-center">
        <h1 class="section-head">login</h1>
        <!-- <div class="cards"> -->
          <form class="card login-card">
            <h3 class="card-head">customer</h3>
            <div class="inputs">
                <div class="input">
              <label for="email">email id</label>
              <input
                type="email"
                class="box"
                placeholder="email id"
                id="email"
              />
              </div>
            <div class="input">
              <label for="password">password</label>
              <input
                type="password"
                class="box"
                placeholder="password"
                id="password"
              />
              </div>
            </div>
            
            <button class="btn">login</button>
          </form>