
<!-- CALCULATOR -->
    <div id="calculator" class="section header-span">
  <h2 class="section-heading">&nbsp;eligibility/EMI&nbsp;</h2>
  <div class="section-center calculator-section">
    <div class="card calc-card">
      <div class="tabs">
        <button [ngClass]="selected1" (click)="onClick1()" class="tab tab1">
          eligibility
        </button>
        <button [ngClass]="selected2" (click)="onClick2()" class="tab tab2">
          EMI
        </button>
      </div>
      <form
        [formGroup]="formdata"
        [ngClass]="visible1"
        (ngSubmit)="onSubmitEligibility(formdata.value)"
        class="calc"
      >
        <!-- <div class="inputs"> -->
        <div class="input input-top">
          <label for="income">monthly income</label>
          <input
            type="text"
            class="box"
            placeholder="monthly income"
            id="income"
            name="income"
            formControlName="income"
          />
        </div>
        <div class="input input-bottom">
          <label for="roi">rate of interest</label>
          <input
            type="text"
            class="box"
            placeholder="rate of interest"
            id="roi"
            name="roi"
            formControlName="roi"
          />
        </div>
        <!-- </div> -->

        <input type="submit" class="btn card-btn" value="calculate" />
      </form>
      <form
        [formGroup]="formdata1"
        [ngClass]="visible2"
        (ngSubmit)="onSubmitEmi(formdata1.value)"
        class="calc"
      >
        <!-- <div class="inputs"> -->
        <div class="input input-top">
          <label for="loan">loan</label>
          <input
            type="text"
            class="box"
            placeholder="loan"
            formControlName="loan"
            id="loan"
          />
        </div>
        <div class="input">
          <label for="roi">rate of interest</label>
          <input
            type="text"
            class="box"
            placeholder="rate of interest"
            id="roi"
            formControlName="roi1"
          />
        </div>
        <div class="input input-bottom">
          <label for="tenure">tenure</label>
          <input
            type="text"
            class="box"
            placeholder="tenure"
            formControlName="tenure"
            id="tenure"
          />
        </div>

        <!-- </div> -->
        <button class="btn card-btn">calculate</button>
      </form>
    </div>
    <div class="description calc-description">
      <div class="description-output">
        <p>
        Need to know the maximum loan you are eligible for? Check out LoanBuddy's Eligibility calculator.
       Interested in availing a home loan, but unsure of the EMIs that you need to pay? Don’t worry, the home loan EMI calculator from LoanBuddy is just what you need. Using our online calculator, input the loan amount, the rate of interest and the loan tenure. The calculator will then display the EMI amount you will need to pay each month. It’s that simple!</p>
        <span class="terms">** These calculators are provided only as general self-help Planning Tools. 
Results depend on many factors, including the assumptions you provide. We 
do not guarantee their accuracy, or applicability to your circumstances.</span>
      </div>
      <div class="percentage">
        
      </div>
      
    </div>
  </div>
</div>