<div style="background: white;" class="section">
    <h2 class="section-heading">how to apply</h2>
    <div class="how section-center">
        <p>Step 1: To find out the loan amount you are eligible for, click on ‘Eligibility Calculator’.
Similarly, use the "EMI Calculator" to plan your loan effectively and opt for a suitable amount.
</p>
<img src="../../assets/howtoapply1.png" alt=""><br>
<p>Step 2: Click on ‘New Application’ tab and enter your property and loan  details.</p>
<img src="../../assets/howtoapply2.png" alt=""><br>
<p>Step 3: Upload the required documentation to initiate verification protocols</p><br>
<img  src="../../assets/3.png" alt=""><br>
<p>Step 4: Under ‘Property Details’ tab, provide the city name you are currently residing in, the estimated cost of property ,choose the correct type of property and click on ‘Submit’.</p>
<img src="../../assets/howtoapply3.png" alt=""><br>
<p>Step 5: In the loan application, provide the maximum loan amount you are eligible for which you will get through EMI Calculator, the loan tenure, and the loan amount that you wish for and click on ‘Apply’.</p>
<img src="../../assets/howtoapply4.png" alt="">
    </div>
</div>