

<div class="section">
    <h2 class="section-heading">&nbsp;approved applications&nbsp;</h2>
    <div class="section-center">
<input placeholder="Search By CUSTOMERID" class="searchById" type="text" [(ngModel)]="searchById">
<table>
    <thead>
        <tr>
        <th>loanAppId</th>
<th>maxLoanGrant</th>
<th>tenure</th>
<th>loanAmmount</th>
<th>appStatus</th>
<th>customerId</th>
    </tr>
    </thead>
    <tr *ngFor="let p of approved | filterpipe:searchById:'customer'">
        <td>{{p.loanAppId}}</td>
        <td>{{p.maxLoanGrant}}</td>
        <td>{{p.tenure}}</td>
        <td>{{p.loanAmmount}}</td>
        <td>{{p.appStatus}}</td>
        <td>{{p.customer.customerId}}</td>
    </tr>
</table>

    </div>
</div>