<nav class="dashnav">
  <div class="dashnav-center">
  <ul class="dash-pages">
    <li class="dash-page">
      Hi Admin
    </li>
    <li class="dash-page">
        <a [routerLink]="['/homeLink']"><img class="nav-logo" src="../assets/LoanBuddy1.JPG" alt=""></a>
    </li>
    <li class="dash-page">
      <a [routerLink]="['/loginLink']">logout</a>
    </li>
  </ul>
  
  </div>
</nav>

<fa-icon (click)="onClose()" class="side-toggle-btn" [icon]="['fas','bars']"></fa-icon>
<div [class.hideSideBar]="closeSide" class="admin-sidebar sidebar">
    <fa-icon (click)="onClose()" [icon]="['fas','close']"></fa-icon>
    <ul class="links">
        <li class="link"><a [routerLink]="['./adminHomeLink']">home</a></li>
    </ul>
    <!-- <ul class="links">
        <li class="link"><a [routerLink]="['./adminHomeLink']" >applications</a></li>
    </ul> -->
    <ul  class="links">
        
        <li class="link"><a [routerLink]="['./adminApplicationsLink']" >pending </a></li>
    </ul>
    <ul class="links">
        <li class="link"><a [routerLink]="['./approvedAppLink']">approved </a></li>
    </ul>
    <!-- <ul class="links">
        <li class="link"><button>property</button></li>
    </ul> -->
    <!-- <ul class="links">
        <li class="link"><button>documents</button></li>
    </ul> -->
    <ul class="links">
        <li class="link"><a [routerLink]="['./rejectedAppLink']">rejected</a></li>
    </ul>
    <ul class="links">
        <li class="link"><a [routerLink]="['./customersListLink']">customers </a></li>
    </ul>
</div>
