<div class="section">
    <h2 class="section-heading">&nbsp;documents upload&nbsp;</h2>
    <div class="section-center">
        <form enctype="multipart/form-data" (ngSubmit)="upload()" [formGroup]="docForm" class="doc-form doc-card">
    <div class="doc-inputs">
      <div class="doc-input">
        <label for="aadharCard">aadhar</label><br>
        <input type="file" name="aadharCard" formControlName="aadhar" (change)="onFileChange($event)">
      </div><br>
      <div class="doc-input">
        <label for="panCard">pan</label><br>
        <input type="file" name="panCard" formControlName="pan" (change)="onFileChange($event)">
      </div><br>
      <div class="doc-input">
        <label for="birth">birth proof</label><br>
        <input type="file" name="birth" formControlName="birth" (change)="onFileChange($event)">
      </div><br>
      <div class="doc-input">
        <label for="passbook">passbook</label><br>
        <input type="file" name="passbook" formControlName="passbook" (change)="onFileChange($event)">
      </div><br>
      <div class="doc-input">
        <label for="incomeStatement">income statement</label><br>
        <input type="file" name="incomeStatement" formControlName="incomeStatement" (change)="onFileChange($event)">
      </div><br>
  </div>  
  <button type="submit" class="btn">submit</button>
  </form>
    </div>
</div>
<div class="section">
    <h2 class="section-heading">&nbsp;property details&nbsp;</h2>
    <div class="section-center">
        <form  (ngSubmit)="property1()" [formGroup]="propForm" class="prop-form">
    <div class="prop-inputs">
      <div class="prop-input">
        
        <input [class.errorInput]="propForm.get('propertyLocation').invalid && propForm.get('propertyLocation').touched" formControlName="propertyLocation" class="box" type="text" placeholder="property location">
      <div *ngIf="propForm.get('propertyLocation').invalid && propForm.get('propertyLocation').touched">
              <small *ngIf="propForm.get('propertyLocation').errors.required">Location is required</small>
            </div>
      </div>
      <div class="prop-input">
        
        <input [class.errorInput]="propForm.get('propertyAmount').invalid && propForm.get('propertyAmount').touched" formControlName="propertyAmount" class="box" type="number" placeholder="property amount">
      <div *ngIf="propForm.get('propertyAmount').invalid && propForm.get('propertyAmount').touched">
              <small *ngIf="propForm.get('propertyAmount').errors.required">Amount is required</small>
            </div>
      </div>
      <div class="prop-input">
        
        <input [class.errorInput]="propForm.get('propertyType').invalid && propForm.get('propertyType').touched" formControlName="propertyType" class="box" type="text" placeholder="property type">
      <div *ngIf="propForm.get('propertyType').invalid && propForm.get('propertyType').touched">
              <small *ngIf="propForm.get('propertyType').errors.required">type is required</small>
            </div>
      </div>
  </div>  
  <button  type="submit" class="btn">submit</button>
  </form>
    </div>
</div>

<div class="section">
    <h2 class="section-heading">&nbsp;loan application&nbsp;</h2>
    <div class="section-center">
        <form  (ngSubmit)="application1()" [formGroup]="loanForm" class="prop-form">
    <div class="prop-inputs">
      <div class="prop-input">
        
        <input style="color: red;" disabled="true" [class.errorInput]="loanForm.get('maxLoanGrant').invalid && loanForm.get('maxLoanGrant').touched" formControlName="maxLoanGrant" class="box" type="text" placeholder="maximum loan grant">
      <div *ngIf="loanForm.get('maxLoanGrant').invalid && loanForm.get('maxLoanGrant').touched">
              
            </div>
            <small>*Maximum loan grant is calculated from you income</small>
      </div>
      <div class="prop-input">
        
        <input [class.errorInput]="loanForm.get('tenure').invalid && loanForm.get('tenure').touched" formControlName="tenure" class="box" type="number" placeholder="tenure">
      <div *ngIf="loanForm.get('tenure').invalid && loanForm.get('tenure').touched">
              <small *ngIf="loanForm.get('tenure').errors.required">tenure is required</small>
            </div>
      </div>
      <div class="prop-input">
        
        <input [class.errorInput]="loanForm.get('loanAmmount').invalid && loanForm.get('loanAmmount').touched" formControlName="loanAmmount" class="box" type="text" placeholder="loan amount">
      <div *ngIf="loanForm.get('loanAmmount').invalid && loanForm.get('loanAmmount').touched">
              <small *ngIf="loanForm.get('loanAmmount').errors.required">amount is required</small>
            </div>
      </div>
  </div>  
  <button  type="submit" class="btn">apply</button><br>
<small>{{loanErrorMessage}}</small>
  </form>
    </div>
</div>