<div class=""></div>
<h2 class="section-heading">approved applications</h2>
<table>
    <thead>
        <tr>
        <th>loanAppId</th>
<th>maxLoanGrant</th>
<th>tenure</th>
<th>loanAmmount</th>
<th>appStatus</th>
<th>customerId</th>
    </tr>
    </thead>
    <tr *ngFor="let p of rejected">
        <td>{{p.loanAppId}}</td>
        <td>{{p.maxLoanGrant}}</td>
        <td>{{p.tenure}}</td>
        <td>{{p.loanAmmount}}</td>
        <td>{{p.appStatus}}</td>
        <td>{{p.customer.customerId}}</td>
    </tr>
</table>
