<div class=""></div>
<h2 class="section-heading">customers</h2>
<table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Dob</th>
        <th>aadhar</th>	
        <th>pan</th>
        <th>phone</th>
        <th>organization</th>
        <th>Income</th>
        <th>employment</th>
        <th>retirementAge</th>
    </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerDob}}</td>
        <td>{{customer.aadharNumber}}</td>
        <td>{{customer.panNumber}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.organizationName}}</td>
        <td>{{customer.customerIncome}}</td>
        <td>{{customer.employmentType}}</td>
        <td>{{customer.retirementAge}}</td>
    </tr>
</table>
