<div class="section">
    
<h2 class="section-heading">&nbsp;customers&nbsp;</h2>
<input placeholder="Search By CUSTOMERID" class="searchById" type="text" [(ngModel)]="searchById">
<table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Dob</th>
        <th>aadhar</th>	
        <th>pan</th>
        <th>phone</th>
        <th>organization</th>
        <th>Income</th>
        <th>employment</th>
        <th>retirementAge</th>
    </tr>
    </thead>
    <tr *ngFor="let customer of customers | filterpipe:searchById:'customerId'">
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerDob}}</td>
        <td>{{customer.aadharNumber}}</td>
        <td>{{customer.panNumber}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.organizationName}}</td>
        <td>{{customer.customerIncome}}</td>
        <td>{{customer.employmentType}}</td>
        <td>{{customer.retirementAge}}</td>
    </tr>
</table>

</div>