/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tiro+Kannada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* 
=====================
VARIABLES 
=====================
*/
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(184, 91%, 17%);
    --clr-primary-2: hsl(185, 84%, 25%);
    --clr-primary-3: hsl(185, 81%, 29%);
    --clr-primary-4: hsl(184, 77%, 34%);
    /* primary/main color */
    --clr-primary-5: hsl(185, 62%, 45%);
    /* lighter shades of primary color */
    --clr-primary-6: rgb(55, 188, 200);
    --clr-primary-7: hsl(184, 65%, 59%);
    --clr-primary-8: hsl(184, 80%, 74%);
    --clr-primary-9: hsl(185, 94%, 87%);
    --clr-primary-10: hsl(186, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --ff-primary:'Lato',
        sans-serif ;
    --ff-secondary: 'Prompt',
            sans-serif;
    --ff-headfont: 'Koulen',cursive;
    --transition: all 0.3s linear;
    --letter-spacing: 0.25rem;
    --radius: 0.5rem;
    --card-radius: 0.35rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

/* 
=====================
GLOBAL
=====================
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-9);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
img:not(.nav-logo){
    display: block;
    width: 100%;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-1);
    font-weight: 400;
}

label {
    text-transform: capitalize;
    font-size: 1rem;
    font-family: var(--ff-primary);
    font-weight: 550;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
        
    }
}

/* 
=====================
GLOBAL CLASSES 
=====================
*/
/* NORMAL BTNS */
.btn {
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    background: var(--clr-primary-6);
    border: 2px solid var(--clr-primary-6);
    border-radius: var(--radius);
    color: var(--clr-white);
    font-family: var(--ff-secondary);
    transition: var(--transition);
    font-size: 0.875rem;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    /* box-shadow: var(--light-shadow); */
    margin-top: 1rem;
}
/* BTNS OF CARDS */
.card-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    background: var(--clr-primary-6);
    border-radius: 0;
    border-bottom-left-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius);
    width: 100%;
    padding: 1rem 0;
    color: var(--clr-white);
    box-shadow: none;
}
.btn:hover {
    background: var(--clr-white);
    color: var(--clr-primary-6);
}
.card-btn:hover {
    opacity: 0.7;
    background: var(--clr-primary-6);
    color: var(--clr-white);
}
/* INPUT BOXES */
.box {
    background: var(--clr-grey-9);
    border-radius: 0.25rem;
    border: none;
    font-family: var(--ff-primary);
    
    padding: 0.5rem;
    display: block;
}
.box::placeholder {
    font-weight: 600;
    text-transform: capitalize;
}
.green{
    border-color: rgb(112, 237, 112);
    background: rgb(112, 237, 112);
}
.red{
    border-color: rgb(239, 90, 90);
    background: rgb(239, 90, 90);
}
/* CARDS */
.card {
    background: var(--clr-white);
    border-radius: var(--card-radius);
    padding: 1.5rem 1rem;
    position: relative;
    margin: 0 auto;
}
/* HAS TO BE CHECKED */
/* .card-head {
    background: var(--clr-grey-10);
        border: none;
        text-transform: capitalize;
        font-family: var(--ff-secondary);
        font-size: 1.6rem;
        padding: 0.75rem 0;
        transition: var(--transition);
} */
/* NAVBAR */
nav {
    background: var(--clr-white);
    padding: 1.5rem;
    height: 5rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.nav-center{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

}
.nav-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.toggle-btn{
    background: transparent;
    color: var(--clr-primary-6);
    font-size: 2rem;
    cursor: pointer;
    justify-self: right;
}
.pages{
    display: none;
}
.last-page{
    display: none;
}
.nav-logo{
    width: 150px;
    height: 30px;
}
@media screen and (min-width:768px) {
    .toggle-btn{
        display: none;
    }
    .pages{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: right;
        gap: 2rem;
    }   
    .pages a{
        color: var(--clr-grey-2);
        transition: var(--transition);
        letter-spacing: var(--letter-spacing);
        font-family: var(--ff-primary);
        font-weight: 700;
        text-transform: capitalize;
    }
    .pages a:hover{
        color: var(--clr-primary-8);
    }
    .page a{
        cursor: pointer;
    }
    .nav-center{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .last-page a{
        color: var(--clr-grey-2);
            transition: var(--transition);
            letter-spacing: var(--letter-spacing);
            font-family: var(--ff-primary);
            font-weight: 700;
            text-transform: capitalize;
    }
    .last-page{
        display: grid;
        justify-self: right;
        gap: 1rem;
    }
    .last-page a:hover{
        color: var(--clr-primary-8);
    }
}

/* .nav-header{
    display: grid;
}
.toggle-btn{
    position: absolute;
    right: 30px;
    font-size: 2rem;
    align-self: center;
    color: var(--clr-primary-6);
    cursor: pointer;
}
.pages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.page a {
    color: var(--clr-grey-2);
    transition: var(--transition);
    letter-spacing: var(--letter-spacing);
    font-family: var(--ff-primary);
    font-weight: 700;
}
.page a:hover {
    color: var(--clr-primary-8);
}
.last-page{
    grid-template-columns: 1fr;
    justify-items: right;
} */
/* SECTION */
.section {
    padding: 5rem 0;/* HAS TO BE CHECKED */
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
}
.section-heading{
    margin-bottom: 5rem;
    border-left: 8px solid var(--clr-primary-6);
    border-right: 8px solid var(--clr-primary-6);
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    /* text-transform: uppercase; */
}
/* 
=====================
HOME PAGE
=====================
*/
/* HEADER SECTION */
.header{
    background: linear-gradient(rgba(55, 188, 200,0.7),rgba(0,0,0,0.7)), url('./assets/home-header.jpg') center/cover no-repeat fixed ;
    width: 100%;
    height: calc(100vh - 80px);
    /* min-height: 100vh; */
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-span{
    min-height: calc(100vh - 80px);
}
.header h2{
    color: var(--clr-white);
    text-transform: uppercase;
    font-family:var(--ff-headfont);
    max-width: 420px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.5;
}
.header-btn{
    background: var(--clr-white);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--clr-primary-6);
    font-family: var(--ff-primary);
    font-weight: 700;
    padding: 0.8rem 1rem;
    letter-spacing: var(--letter-spacing);
    cursor: pointer;
    transition: var(--transition);
    border: 2px solid var(--clr-white);
}
.header-btn:hover{
    background: none;
    color:var(--clr-white);
}
/* ABOUT SECTION */
.about-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.description {
    text-align: center;
}
.img-container{
    max-width: 30rem;
    border-radius: var(--radius);
}
.img-container img{
    height: 300px;
    object-fit: cover/center;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}
.description p{
    text-align: justify;
}
/* HAS TO BE CHECKED */
.description h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* OUR SERVICES SECTION */
.service-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.service-section{
    background: var(--clr-white);
}
.service-card{
    background: var(--clr-grey-9);
    border-radius: var(--card-radius);
    transition: var(--transition);

}
.service-card:hover{
    box-shadow: var(--dark-shadow);
    transform: scale(1.03);
}
.service-description{
    text-align: center;
    padding: 2rem;
}
/* .service-card .btn{
    margin-bottom: 2rem;
} */
.service-description h4{
    text-align: center;
    font-weight: 700;
    color: var(--clr-primary-4);
}
.service-img{
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
    
}
/* CONTACT US */
.contact-form{
    background: var(--clr-white);
    max-width: 400px;
    display: grid;
    border-radius: var(--card-radius);
    align-items: center;
    box-shadow: var(--dark-shadow);
}
.contact-form .box{
    width: 100%;
}

.contact-input{
    margin-bottom: 1.25rem;
    
}
.inputs{
    margin: 0 auto;
    width: 300px;
}

/*
=====================
SERVICES
=====================
*/
/* FOR DISPLAYING THE RESULTS AFTER CALCULATION */
.calculator-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    /* min-height: 100vh; */
}
.terms{
    font-size: 0.75rem;
    font-weight: 400;
    display: block;
    font-style: italic;
    text-align: left;
}
.calc-description{
    text-align: left;

}
.description-output{
    display: grid;
}
.description-output div{
    font-weight: 200;
}
.percentage{
    color: var(--clr-white);
    text-align: center;
    /* height: 100%; */
    /* box-shadow: var(--dark-shadow); */
    display: none;
    width: 75%;
}
.principal{
    padding: 2rem;
    background: rgb(36, 60, 28);
    box-shadow: var(--dark-shadow);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    animation: percentFromTop 3s ease-out 1;
}
.interest{
    padding: 2rem;
    background: rgb(247, 129, 3);
    box-shadow: var(--dark-shadow);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation: percentFromBottom 3s ease-out 1;
}
@keyframes slowMotionText {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes percentFromTop {
    0%{
        transform: translateY(-1000px);
        opacity: 0;
    }
    /* 25% {
        transform: translateY(-200px);
        opacity: 0.25;
    }
    50% {
        transform: translateY(-50px);
        opacity: 0.5;
    }
    75% {
        transform: translateY(-20px);
        opacity: 0.75;
    } */
                                                        100% {
                                                            transform: translateY(0px);
                                                            opacity: 1;
                                                        }
}
@keyframes percentFromBottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    /* 25% {
        transform: translateY(-20px);
        opacity: 0.25;
    }

    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }

    75% {
        transform: translateY(-20px);
        opacity: 0.75;
    } */

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.amount{
    color: var(--clr-primary-6);
    display: block;
    font-size: 1.5rem;
}

.amount-highlight{
    
}
/* .display-eligibility p {
    text-transform: none;
    text-align: left;
    font-size: 1.6rem;
    padding: 1.5rem;
} */
.calc-card {
    max-width: 500px;
}
.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.tab {
    background: var(--clr-grey-10);
    border: none;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.75rem 0;
    transition: var(--transition);
}
.tab:hover {
    opacity: 0.5;
    color: var(--clr-primary-1);
}
.tab1 {
    border-top-left-radius: var(--card-radius);
}

.tab2 {
    border-top-right-radius: var(--card-radius);
}
/* SELECTED TAB */
.selected-tab {
    background: var(--clr-white);
    transition: var(--transition);
    /* box-shadow: var(--light-shadow); */
}
/* TO DISABLE HOVERING EFFECTS IN SELECTED TAB */
.selected-tab:hover {
    opacity: 1;
    color: black;
}
/* TO MAKE ONE CALCULATOR FORM INVISIBLE THIS CLASS IS TOGGLED IN TYPESCRIPT */
.calc-invisible {
    display: none;
}   
/* SINGLE INPUT ENTITY */
.input {
    margin: 1.5rem 0;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 1rem 0;
    justify-content: center;
    align-items: center;
}
/* TO SET A MARGIN B/W INPUT TOP AND TABS(SINCE TABS ARE POSITION ABSOLUTE) */
.input-top {
    margin-top: 5rem;
}
/* TO SET A GAP B.W INPUT AND BUTTON */
.input-bottom {
    margin-bottom: 5rem;
}
/* APPLY SECTION */
.apply-section{
    background: var(--clr-white);
    
}
.apply-section p{
    margin: 0 auto 1rem auto;
    max-width: 700px;
text-align:justify;
}
/* TRACK SECTION */
.track-section p{
    max-width: 700px;
    margin: 0 auto 1rem auto;
    text-align:justify;
}
/* 
=====================
ABOUT
=====================
*/
.about-header{
    width: 100%;
    /* height: calc(100vh - 88px); */
    min-height: calc(100vh - 80px);
            display: grid;
            align-items: center;
            background: var(--clr-white);

}
.about-header h2{
    max-width: 550px;
    text-transform: none;
    
    position: absolute;
    margin-left: 7rem;
    line-height: 1.5;
    font-weight: 200;
}
.about-header span{
    font-weight: bold;
}
.about-img{
    background: linear-gradient(rgba(55, 188, 200, 0.7), rgba(0, 0, 0, 0.7)),
            url('./assets/about-header-1.jpg') top/cover no-repeat fixed;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 100%, 35% 0%, 50% 0%);
        width: 100%;
        min-height: calc(100vh - 80px);
        
}
.values{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}
.value-container{
    background: var(--clr-white);
    width: 250px;
    height: 250px;
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--dark-shadow);
    
}
.value-container p{
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: 200;
}
.value-container img{
    width: 70px;
    height: 70px;
}
.values-section{
    background: var(--clr-white);
    
}
.experiences{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 3rem; */
    max-width: 720px;
    margin: 0 auto;
}
.experience{
    text-align: left;
    margin-bottom: 1rem;
    
}
.experience p{
    display: inline ;

}
.experience fa-icon{
    color: var(--clr-primary-6);
}
.faqs{
    background: var(--clr-white);
}
.faq-link{
    display: grid;
    cursor: pointer;
    grid-template-columns: auto 1fr;
}
.faq-link p{
    justify-self: left;
    font-weight: 900;
    letter-spacing: var(--letter-spacing);
    font-size: 1.05rem;
}
.plus-minus{
    justify-self: right;
}
.plus-minus fa-icon {
    background: var(--clr-primary-6);
    border-radius: var(--radius);
    padding: 0.1rem 0.4rem;
    color: var(--clr-white);
}
.faq{
    background: var(--clr-white);
    padding: 1rem;
    border-radius: var(--card-radius);
    margin-bottom: 1rem;
    
}
.faq >p{
    text-align: justify;
    transition: var(--transition);
}
.hideFaq{
    display: none;
}
.showFaq{
    display: block;
}

/* 
=====================
REGISTER
=====================
*/
.register-section{
    padding: 3rem 0;
    /* height: calc(100vh - 88px); */
    min-height: calc(100vh - 80px);
}
.reg-form{
    padding: 2rem;
    background: var(--clr-white);
    position: relative;
    max-width: 700px;
    margin: 0 auto 1rem auto;

}

.reg-form .box{
    width: 250px;
}
.form-inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
}
.form-input{
    /* margin: 0.75rem; */
    text-align: left;
    max-width: 250px;
}
small{
    color: red;
    text-align: left;
}
.hideMessage{
    display: none;
}


.select{
    font-weight: 600;
    font-family: var(--ff-primary);
    text-transform: capitalize;
}
/* .register-center{
    margin: 0 auto;
    width: 90vw;
    max-width: 1170px;
    text-align: center;
} */
.register-heading{
    margin-bottom: 2rem;
}
.errorInput{
    box-shadow: inset 0px 0px 4px 1px rgba(240, 14, 14, 0.58);
}
.successMsgDisabled{
    display: none;
    
}
.successMsgEnabled{
    display: block;
    width: 300px;
    height: 300px;
    background: var(--clr-white);
    border-radius: var(--card-radius);
    position: absolute;
    padding: 2rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 
=====================
LOGIN
=====================
*/
.login-card {
    max-width: 400px;
    margin-bottom: 1rem;
}
.login-inputs {
    max-width: 700px;
    padding: 0 2rem;
    margin: 0 auto;
}
.login-input{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    /* gap: 0.3rem 0; */
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.login-input-top{
    margin-top: 2rem;
}
.login-input-bottom{
margin-bottom: 5rem;
}
.loading{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
    text-align: center;
    
}
.loading h3{
    margin: auto 0 ;
    color: var(--clr-primary-7);
}
.showLoading{
    display: grid;
}

/* DASHNAV */
.dashnav{
    /* background: rgb(249, 240, 229); */
}
.dashnav-center {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

}

.dashnav-header {
    display: grid;
    
    align-items: center;
}

.toggle-btn {
    background: transparent;
    color: var(--clr-primary-6);
    font-size: 2rem;
    cursor: pointer;
    justify-self: right;
}

.dash-pages {
    display: none;
}

.dash-last-page {
    display: none;
}

/* .nav-logo {
    width: 150px;
    height: 30px;
} */

@media screen and (min-width:768px) {
    .toggle-btn {
        display: none;
    }

    .dash-pages {
        display: grid;
        grid-template-columns: auto repeat(2, 1fr);
        justify-items: center;
        gap: 2rem;
    }

    .dash-pages a {
        color: var(--clr-grey-2);
        transition: var(--transition);
        letter-spacing: var(--letter-spacing);
        font-family: var(--ff-primary);
        font-weight: 700;
        text-transform: capitalize;
    }

    .dash-pages a:hover {
        color: var(--clr-primary-8);
    }
.dash-page{
    justify-self: right;
}
    .dash-page a {
        cursor: pointer;
    }

    .dash-nav-center {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
    }   

    /* .dash-last-page a {
        color: var(--clr-grey-2);
        transition: var(--transition);
        letter-spacing: var(--letter-spacing);
        font-family: var(--ff-primary);
        font-weight: 700;
        text-transform: capitalize;
    }

    .dash-last-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: right;
        gap: 1rem;
    }

    .dash-last-page a:hover {
        color: var(--clr-primary-8);
    } */
}
.sidebar{
    position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        /* width: 100%;
      height: 100%; */
        background: var(--clr-grey-10);
        z-index: 2;
        box-shadow: 2px, 0px, 2px rgba(0, 0, 0, 0.2);
        /* HIDE NAVBAR */
        /* transform: translateX(-100%); */
        transition: var(--transition);
        width: 35vw;
            max-width: 20rem;
}
.sidebar fa-icon{
    color: red;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 90%;
    
}
.hideSideBar{
    transform: translateX(-100%);
}

.sidebar fa-icon:hover{
    color: rgb(70, 3, 3);
}
.side-toggle-btn{
    color: var(--clr-primary-6);
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
    position: fixed;
}
.links{
    display: block;
        font-size: 1.2rem;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing);
        color: var(--clr-grey-5);
    }
    .link{
        
        transition: var(--transition);
    }
    .link a{
        color: var(--clr-grey-1);
    }
    .link button{
        background: transparent;
        border: none;
        font-size: 1.2rem;
            /* padding: 0.25rem 1rem; */
            text-transform: uppercase;
            letter-spacing: var(--letter-spacing);
            color: var(--clr-grey-1);
            cursor: pointer;
            font-family: var(--ff-secondary);
}
.link:hover{
    background: var(--clr-primary-9);
        color: var(--clr-primary-6);
        padding-left: 1.5rem;
        border-left: 0.25rem solid var(--clr-primary-1);
}
.details-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.application-section{
    display: none;
}
.app-card{
    background: var(--clr-white);
    border-radius: var(--card-radius);
    max-width: 400px;
    margin: 0 auto 2rem auto;
    /* text-align: left; */
    padding: 1rem;
}
.app-card h3{
    text-align: center;
    margin-bottom: 2rem;
}
.app-card p{
    text-align: left;
}
.app-info{
    margin-left: 2rem;
}
.app-status{
    background: var(--clr-primary-6);
    width: 400px;
    padding: 0.75rem 1rem;
    margin: 0 auto;
    border-radius: var(--radius);
    color: var(--clr-white);
    display: none;
}
.showStatus{
    display: block;
}
/* new appliccation */
.doc-card{
    background: var(--clr-white);
    border-radius: var(--card-radius);
    max-width: 400px;
    margin: 0 auto 2rem auto;
    /* text-align: left; */
    padding: 1rem;
}
.doc-inputs{
    max-width: 300px;
    margin: 0 auto;
}
.doc-input{
    text-align: left;
}
.how{
    text-align: left;
}
.doc-input input{
    background: var(--clr-primary-6);
    border-radius: var(--card-radius);
    padding: 0.5rem 0.75rem;
}
.prop-form{
    background: var(--clr-white);
    border-radius: var(--card-radius);
    margin: 0 auto;
    max-width: 450px;
    padding: 2rem;
}
.prop-form .box{
    width: 100%;
    
}
.appLink{
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.prop-input{
    margin-bottom: 1rem;
}
/* ADMIN DASHBOARD */
.admin-home{
    background: rgb(249, 240, 229);
}
.admin-sidebar{
    
}
table{
    /* table-layout: fixed; */
    width: 98%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto 2rem auto;
}
table th{
    text-transform: uppercase;
    /* width: 15%; */

}
thead th:nth-child(3){
width: 22%;
}
thead th:nth-child(4){
    width: 15%;
}

table th,td{
    max-width: 150px;
    text-align: center;
    border: 2px solid black;
    padding: 1rem;
}
.pending-table{
    width: 90%;
}
.pending-table thead th:nth-child(3){
    width: 10%;
}
.pending-table thead th:nth-child(5) {
    width: 22%;
}
.pending-table thead th:nth-child(6) {
    width: 8%;
}
.dash-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
}
.admin-welcome{
    text-align: left;
    margin-left: 10rem;
    
    
}
.searchById{
    display: block;
    width: 100%;
    max-width: 96vw;
    background: var(--clr-white);
    border-radius: var(--card-radius);
    border: transparent;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: var(--light-shadow);
}
.searchById::placeholder{
    font-family: var(--ff-primary);
    font-weight: 700;
}
.docViewBtns{
    display: grid;
    max-width: 400px;
    margin: 0 auto;
}
.docViewBtns .btn{
    width: 400px;
}
/* 
=====================
FOOTER 
=====================
*/
footer {
    background: #222;
    text-align: center;
    padding: 4rem;
}
.social-icons {
    margin-bottom: 3rem;
}
.orgname {
    color: var(--clr-primary-6);
}
.social-icon {
    color: var(--clr-white);
    font-size: 1.5rem;
    transition: var(--transition);
    margin: 0 2rem;
}
.social-icon:hover {
    color: var(--clr-primary-6);
}
.footer-text {
    margin-top: 1.25rem;
    text-transform: capitalize;
    color: var(--clr-white);
    font-weight: 700;
    font-family: var(--ff-primary);
}