<header class="header header-span">
  <div class="banner">
    <h2>Make your dream a reality</h2>
    <a [routerLink]="['/aboutLink']" class="header-btn">explore</a>
  </div>
</header>
<div class="section">
  <h2 class="section-heading">&nbsp;about&nbsp;</h2>
  <div class="section-center about-section">
    <div class="img-container">
      <img src="../../assets/about-section-2.jpg" alt="" />
    </div>
    <div class="description">
      <p>
        Buying a home loan is still a dream for many. It is a very cumbersome
        task and involves a lot of financial planning. We LoginBuddy are here to help
        and guide you into converting your dreams into reality. We stand by the
        motto “Live in the Present” and hence we want to make your present a
        place where you achieve your dreams and goals. We have a wonderful
        experience in past few years serving our customers. With our Online
        Smart Banking platform you can get digital sanction of your home loan at
        an very attractive interest rate in just few quick steps.
      </p>
      <a [routerLink]="['/aboutLink']"><button class="btn">about us</button></a>
    </div>
  </div>
</div>
