<div class="section">
  <div class="section-center">
    <!-- <h1 class="section-head">customer registration</h1> -->
    <form action="" class="card register-card">
      <h3 class="card-head">register</h3>
      <div class="register-inputs">
        <div class="input">
          <label for="name">name</label>
          <input
            type="text"
            class="box"
            placeholder="name"
            id="name"
            name="name"
          />
        </div>
        <div class="input">
          <label for="email">email id</label>
          <input
            type="email"
            class="box"
            placeholder="email id"
            id="email"
            name="email"
          />
        </div>
        <div class="input">
          <label for="password">password</label>
          <input
            type="password"
            class="box"
            placeholder="password"
            id="password"
            name="password"
          />
        </div>
        <div class="input">
          <label for="confirmpassword">confirm password</label>
          <input
            type="text"
            class="box"
            placeholder="confirm password"
            id="confirmpassword"
            name="confirmpassword"
          />
        </div>
        <div class="input">
          <label for="phone">phone number</label>
          <input
            type="text"
            class="box"
            placeholder="phone number"
            id="phone"
            name="phoneNo"
          />
        </div>
        <div class="input">
          <label for="dob">date of birth</label>
          <input
            type="text"
            class="box"
            placeholder="date of birth"
            id="dob"
            name="dob"
          />
        </div>
        <div class="input">
          <label for="gender">gender</label>
          <input
            type="text"
            class="box"
            placeholder="gender"
            id="gender"
            name="gender"
          />
        </div>
        <div class="input">
          <label for="nationality">nationality</label>
          <input
            type="text"
            class="box"
            placeholder="nationality"
            id="nationality"
            name="nationality"
          />
        </div>
        <div class="input">
          <label for="aadhar">aadhar number</label>
          <input
            type="text"
            class="box"
            placeholder="aadhar number"
            id="aadhar"
            name="aadharNo"
          />
        </div>
        <div class="input">
          <label for="pan">PAN Number</label>
          <input
            type="text"
            class="box"
            placeholder="PAN Number"
            id="pan"
            name="panNo"
          />
        </div>
      </div>
      <button class="btn">register</button>
    </form>
    <div class="or-login">
      <p class="or">----------------------- OR -----------------------</p>
      <p class="">already have an account?</p>
      <a class="login-link" href="login.html">login</a>
    </div>
  </div>
</div>
