 <div class="section">
      <div class="section-center">
        <!-- <h1 class="section-head">customer registration</h1> -->
        <form action="" class="card register-card">
          <h3 class="card-head">register</h3>
          <div class="inputs register-inputs">
              <div class="input">
              <label for="name">name</label>
              <input
                type="text"
                class="box"
                placeholder="name"
                id="name"
              />
              </div>
              <div class="input">
              <label for="email">email id</label>
              <input
                type="email"
                class="box"
                placeholder="email id"
                id="email"
              />
              </div>
              <div class="input">
              <label for="password">password</label>
              <input
                type="password"
                class="box"
                placeholder="password"
                id="password"
              />
              </div>
              <div class="input">
              <label for="confirmpassword">confirm password</label>
            <input
              type="text"
              class="box"
              placeholder="confirm password"
              id="confirmpassword"
            />
            </div>
            <div class="input">
            <label for="phone">phone number</label>
            <input
              type="text"
              class="box"
              placeholder="phone number"
              id="phone"
            />
            </div>
            <div class="input">
            <label for="dob">date of birth</label>
            <input
              type="text"
              class="box"
              placeholder="date of birth"
              id="dob"
            />
            </div>
            <div class="input">
            <label for="gender">gender</label>
            <input
              type="text"
              class="box"
              placeholder="gender"
              id="gender"
            />
            </div>
            <div class="input">
            <label for="nationality">nationality</label>
            <input
              type="text"
              class="box"
              placeholder="nationality"
              id="nationality"
            />
            </div>
            <div class="input">
            <label for="fname">aadhar number</label>
            <input
              type="text"
              class="box"
              placeholder="aadhar number"
              id="aadhar"
            />
            </div>
            <div class="input">
            <label for="pan">PAN Number</label>
            <input
              type="text"
              class="box"
              placeholder="PAN Number"
              id="pan"
            />
            </div>
            </div>
          <button class="btn">register</button>
        </form>
        <h3 class="or">----------------------- OR -----------------------</h3>
        <h4 class="">already have an account?</h4>
        <a class="login-link" href="login.html">login</a>
      </div>
    </div>